@import "tailwindcss";
@plugin "daisyui" {
  themes: bumblebee --default;
}

:root {
  --stripe-gray: rgb(245, 245, 245);
}

.stripe-bg {
  background-image: repeating-linear-gradient(
    135deg,
    var(--stripe-gray),
    var(--stripe-gray) 2px,
    white 2px,
    white 8px
  );
}

.timeline-compact .timeline-start {
  max-width: 120px; /* or whatever width you prefer */
  flex: 0 0 120px;
}